// 导航
$navbar-background-black: #001529;
$navbar-title-color: #fff;

// 布局主题
$app-background-color: #F6F8F9;

// 边框
$border-style: 1px solid #eee;

// icon大小设置
$icon-size: 20px !important;
$icon-color: #666 !important;